SECRET_RS_BIND_ADDR={{ psst_bind_addr }}
SECRET_RS_DATABASE_PATH={{ psst_database_path }}
SECRET_RS_PUBLIC_BASE_URL={{ psst_public_base_url }}
SECRET_RS_MAX_SECRET_BYTES={{ psst_max_secret_bytes }}
SECRET_RS_MAX_CIPHERTEXT_BYTES={{ psst_max_ciphertext_bytes }}
SECRET_RS_DEFAULT_TTL_SECONDS={{ psst_default_ttl_seconds }}
SECRET_RS_MAX_TTL_SECONDS={{ psst_max_ttl_seconds }}
SECRET_RS_ENABLE_CREATE={{ psst_enable_create | ternary('true', 'false') }}
SECRET_RS_TURNSTILE_SITE_KEY={{ psst_turnstile_site_key }}
SECRET_RS_TURNSTILE_SECRET_KEY={{ psst_turnstile_secret_key }}
SECRET_RS_GLOBAL_MAX_ACTIVE_SECRETS={{ psst_global_max_active_secrets }}
SECRET_RS_GLOBAL_MAX_STORAGE_BYTES={{ psst_global_max_storage_bytes }}
SECRET_RS_MAINTENANCE_INTERVAL_SECONDS={{ psst_maintenance_interval_seconds }}
SECRET_RS_TRUSTED_PROXY_IPS={{ psst_trusted_proxy_ips | join(',') }}
