[defaults]
inventory = inventory/hosts.yml
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/.ansible-tmp

[privilege_escalation]
become = True
become_method = su
become_user = root
